nicegui==2.21.1
pyodbc==5.2.0
python-barcode==0.16.1
reportlab==4.4.3
bcrypt==4.1.2
pandas>=2.0.0
fastapi>=0.100.0
uvicorn>=0.20.0
python-multipart==0.0.20
python-dotenv==1.2.1
Pillow==10.4.0
plotly==6.3.0
jinja2>=3.0.0
matplotlib>=3.7.0
numpy>=1.24.0
